{% extends "base.html" %}

{% block title %} About digital product management {% endblock %}

{% block body %}
<h2>about digital product management</h2>
</p>
<p>I’m a Business Analytics student at the University of Iowa with a strong interest in using data to solve real-world problems. I enjoy working with tools like Python, Excel, and Power BI to turn raw data into meaningful insights and visualizations. Through my coursework and projects, I’ve developed skills in data analysis, dashboard creation, and process improvement, and I’m always looking for new ways to apply these skills in practical settings.</p>
</p>
<p>Outside of academics, I stay active through sports and teamwork, including playing in a local men’s hockey league. These experiences have helped me build strong communication, leadership, and collaboration skills that I bring into both academic and professional environments. I’m currently seeking opportunities to continue growing in the field of business analytics and contribute to data-driven decision making.</p>
</p>


    {% endblock %}